################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs


# Ignore all bin folders
**/bin/
bin/

**/obj/
obj/

