@using ASI.Basecode.Services.ServiceModels
@model UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - PennyWise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="bg-white w-full min-h-screen flex items-center justify-center">
        <form method="post" action="/Account/Register" class="bg-white shadow-2xl p-5 pt-10 rounded-xl mt-4">
            <div class="flex flex-col gap-8">
                <h1 class="text-4xl font-bold text-gray-850 text-center">SignUp</h1>

                <div class="grid grid-cols-2 gap-4 ">
                   <div class="flex flex-col gap-2">
                        <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" id="name" class="border-none outline-none"
                                   asp-for="FirstName" placeholder="First Name" />

                        </div>
                        <span asp-validation-for="FirstName" class="text-red-500"></span>
                   </div>
                    <div class="flex flex-col gap-2">
                    <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" id="name" class="border-none outline-none"
                               asp-for="LastName" placeholder="Last Name" />
                       
                    </div>
                       <span asp-validation-for="LastName" class="text-red-500"></span>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="text" id="name" class="border-none outline-none"
                           asp-for="Email" placeholder="Email" />
                   
                </div>
                    <span asp-validation-for="Email" class="text-red-500"></span>
                </div>
                <div class="flex flex-col gap-2">
                <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="text" id="name" class="border-none outline-none"
                           asp-for="Username" placeholder="Username" />
                </div>
                    <span asp-validation-for="Username" class="text-red-500"></span>
                </div>
                <div class="flex flex-col gap-2">
                <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="name" class="border-none outline-none"
                           asp-for="Password" placeholder="Password" />
                </div>
                    <span asp-validation-for="Password" class="text-red-500"></span>
                </div>
                <div class="flex flex-col gap-2">
                <div class="pb-2 p-2 flex flex-row gap-2 items-center border-b border-gray-500">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="name" class="border-none outline-none"
                           asp-for="ConfirmPassword" placeholder="Confirm Password" />
                </div>
                    <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                </div>
                <div class="flex flex-col items-center justify-center gap-2">
                    <button class="bg-red-500 text-white flex-1 w-full p-3 rounded-lg" type="submit">
                        SignUp
                    </button>
                   <div class="flex flex-row gap-2 items-center">
                       <span>Already Have An Account?</span>
                        <a class="text-red-500 font-bold" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                   </div>
                </div>

            </div>
        </form>
    </div>
        <script>
            // Check for error message and display Toastr notification
            var errorMessage = '@TempData["ErrorMessage"]';
            var Success = '@TempData["Success"]';
            if (errorMessage) {
                toastr.error(errorMessage);
            }
            if (Success) {
                toastr.success(Success);
            }
        </script>
    
</body>
</html>


